<!doctype html>
<html>
<head>
    <title>GPT Article</title>
</head>
<body>
<h1>Вставьте статью:</h1>
<form method="post">
    <input type="checkbox" name="option1" value="1"> Спорт
    <input type="checkbox" name="option2" value="2"> Футбол
    <input type="checkbox" name="option3" value="3"> Хоккей
    <input type="checkbox" name="option4" value="4"> Прогноз
    <input type="checkbox" name="option5" value="5"> Новости
    <br>
    <input type="text" name="user_input"/>
    <br>
    <button type="submit">Ввод</button>
</form>
{% if user_input %}
<h2>Ваша статья:</h2>
<p>{{ user_input }}</p>
{% endif %}
{% if output %}
<h2>Статья обработанная GPT:</h2>
<p style="white-space:pre-wrap; width:80%" >{{ output }}</p>
{% endif %}
</body>
</html>
